<div class="row">
    <div class="col py-4">
        <div class="card">
            <div class="card-body">
                <div class="float-end text-dark">{{ timeline_entry.formatted_datetime }}</div>
                <h4 class="card-title text-dark">{{ timeline_entry.title }}</h4>
                <p class="card-text">{{ timeline_entry.excerpt }}</p>
                <button class="btn btn-sm btn-outline-secondary text-dark" type="button"
                        data-bs-target="#details_{{ timeline_entry.id }}"
                        data-bs-toggle="collapse">Show Details ▼
                </button>
                <div class="collapse border" id="details_{{ timeline_entry.id }}">
                    <div class="p-2 text-monospace">
                        <span>{{ timeline_entry.content }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>