#home-hero {
    background-image: url('./images/jack-and-skylord.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}

@media only screen and (max-width: 1350px) {
    #home-hero-main-text-div {
        justify-content: flex-end!important;
        align-items: flex-end!important;
    }

    #home-hero-text-div {
        margin: 0 0 4rem 0!important;
        padding: 0!important;
    }
}

@media only screen and (max-width: 600px) {
    #home-hero {
        background-position: top;
    }

    #home-hero-main-text-div {
        justify-content: center!important;
        align-items: flex-end!important;
    }

    .w-50 {
        width: 85%!important;
    }
}

#home-cta-about-btn {
    border-radius: 4px;
    background-color: #cf6766;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

#home-cta-about-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#home-cta-about-btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#home-cta-about-btn:hover span {
    padding-right: 25px;
}

#home-cta-about-btn:hover span:after {
    opacity: 1;
    right: 0;
}

#home-cta-about-btn:hover {
    border-color: white !important;
}