#home-hero {
    background-image: url('./images/jack-and-skylord.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@media screen and (min-width: 700px) {
    #home-hero {
        background-position: left;
    }
}

#home-hero-text-div {
    width: 100%;
    height: 87%;
}

@media screen and (min-width: 700px) {
    #home-hero-text-div {
        width: 50%;
        margin-left: auto;
        margin-right: 5rem;
        height: 35%;
    }
}

#home-hero-main-text-div {
    align-items: flex-start;
}

@media screen and (min-width: 700px) {
    #home-hero-main-text-div {
        align-items: center;
    }
}

#home-cta-about-btn {
    border-radius: 4px;
    background-color: #cf6766;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

#home-cta-about-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#home-cta-about-btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#home-cta-about-btn:hover span {
    padding-right: 25px;
}

#home-cta-about-btn:hover span:after {
    opacity: 1;
    right: 0;
}

#home-cta-about-btn:hover {
    border-color: white !important;
}

@media screen and (min-width: 700px) {
    #home-cta-about-btn {
        margin-bottom: 5rem;
    }
}
