{% extends "base.html" %}
{% load static %}

{% block title %}
    Jack's Projects
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "projects/projects.css" %}?{% now "U" %}" />
{% endblock %}

{% block content %}
    <div class="py-4 flex-column d-flex align-items-center">
        <h1>Projects</h1>
        <div class="d-flex justify-content-around flex-wrap">
            {% for project in projects %}
                {% include "includes/project.html" %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
