{% load static %}

<div class="card m-5 bg-white text-light rounded border border-3 border-dark shadow-lg d-flex flex-column justify-content-between w-25" style="box-shadow: 0 4px 2px -2px gray;">
    <div class="card-img text-center py-3">
        <img class="card-img-top" src="{% static "blog/images/"|add:post.image_name %}" alt="Card image cap" style="width: {{ post.image_size }};">
    </div>
    <div class="card-block p-3 d-flex flex-column justify-content-between h-100">
        <div class="d-flex flex-column justify-content-end h-100">
            <h4 class="card-title text-dark">{{ post.title }}</h4>
            <h6 class="fst-italic text-secondary">Publish Date: {{ post.published_at }}</h6>
            <div class="d-flex">
                {% for category in post.categories_as_list %}
                    <span class="badge rounded-pill bg-primary me-1">{{ category }}</span>
                {% endfor %}
            </div>
        </div>
        <hr class="text-primary border-top-3" />
        <p class="card-text text-dark">{{ post.excerpt }}</p>
        <a href="{{ post.blog_link }}" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Read More</a>
    </div>
</div>
