body {
    background-color: #f8f9fa !important;
}

@media only screen and (max-width: 750px) {
    .float-end {
        float: none!important;
    }
}

.w-35 {
    width: 35%!important;
}

@media only screen and (max-width: 1000px) {
    .w-35 {
        width: 40%!important;
    }
}

@media only screen and (max-width: 500px) {
    .w-35 {
        width: 90%!important;
    }
}